# Byte-compiled files
__pycache__/
*.py[cod]

# Ignore all model weights and checkpoints
*.pt
*.pth

# Ignore logs by default, but keep metrics and plots
logs*/**
!logs*/**/metrics*.csv
!logs*/**/metrics_plot.png

# Editor and system clutter
.vscode/
.DS_Store

# Backup or temp files
*.md~
